.container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
body {
    margin: 0;
}
.inner {
    border: 1px solid black;
    /* background-color: red; */
    text-align: center;
    box-sizing: border-box;
}
button {
    margin-top: 20px;
    display: block;
    margin-right:auto;
    margin-left: auto;
    height: 30px;
    width: 60px;
}